@model CN.Common.Models.TempModels.LineDetails
<br />
<div>Client Value: @Model.ClientValue</div>
<br />
<div>Total Price: @Model.Payment</div>
<br />
<div>Total Minutes: @Model.TotalMinutes &nbsp; Total SMS: @Model.TotalSMS</div>
<br />
<div>Total Minutes With Contacts: @Model.TotalMinutesToContacts</div>
<br />
<div>Total SMS To Contacts: @Model.TotalSMSToContacts</div>
<br />
<div>Recommendation</div>
<div>@Model.Package1Name &nbsp; Price:@Model.Package1Price</div>
<br />
<div>@Model.Package2Name &nbsp; Price:@Model.Package2Price</div>
<br />
<div>@Model.Package3Name &nbsp; Price:@Model.Package3Price</div>
<br />